{% extends "base.html" %}

{% block css %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/asset/style.css" type="text/css">
    <link rel="stylesheet" href="/static/asset/slide/css/lightslider.css" />
    <link rel="stylesheet" href="/static/asset/css/home.css">
    <link rel="stylesheet" href="/static/asset/index.css">
    <link rel="stylesheet" href="/static/asset/css/transaksi.css">
    <link rel="stylesheet" href="/static/asset/responsive.css" type="text/css"> 
{% endblock %}
  
{% block content %}
   <center>
    <div class="container">
        <div class="col-xl-4" style="padding-top: 110px;">
            <form id="register" method="POST">
                {% csrf_token %}
                <p class="h2 text-right">Daftar</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nama Lengkap" aria-label="Nama Lengkap" aria-describedby="basic-addon1" required name="nama" id="nama" autofocus>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@
                        </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required name="email" id="email">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="No Hanphone Contoh +628123456***" aria-label="No Hanphone Contoh +628123456789" aria-describedby="basic-addon1" required name="phone" name="id">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="pass"  id="pass" required min="8">
                </div>
                <div class="form-check" style="text-align: left;">
                    <label class="form-check-label txt_lbl" for="exampleCheck1">Mendaftar Berarti Setuju Dengan </label><a href="#" class="txt_lbl_a"> Syarat & Ketentuan</a>
                </div>
                <br>
                <input type="hidden" name="akses" value="daftar">
                <button type="submit" class="btn btn-success" style="width: 100%;" name="btn_reg">Daftar Sekarang</button>
                
            </form>
        </div>
    </div>
</center>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/asset/js/jquery.form.min.js"></script>
<script>
    
   $(document).ready(function() {
       var options = {
           beforeSubmit: function() {
               $('button[name=btn_reg]').html('Loading...');
               $('button[name=btn_reg]').prop('disabled', true);
           },
           success: showResponse,
           url: "{% url 'daftaruser' %}",
       };

       $('#register').submit(function() {
           $(this).ajaxSubmit(options);
           return false;
       });
    });
    function btnDsbl(){
        $('button[name=btn_reg]').html('Register');
        $('button[name=btn_reg]').prop('disabled', false);
    }

   function showResponse(responseText, statusText, xhr, $form) {
       if (responseText == 'successregister') {
         $('button[name=btn_reg]').html('Done');
         $('button[name=btn_reg]').prop('disabled', true);
         alert("Anda berhasil register")
         window.location.href = "/profile";
       } else if (responseText == "emailtaken") {
         $('#status-reg').html('Email Taken');
       } else {
           btnDsbl()
           $('#status-reg').html('Gagal register');
       } 
       
   }

</script>
{% endblock %}