{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="/static/asset/style.css" type="text/css">
<link rel="stylesheet" href="/static/asset/slide/css/lightslider.css" />
<link rel="stylesheet" href="/static/asset/css/home.css">
<link rel="stylesheet" href="/static/asset/index.css">
<link rel="stylesheet" href="/static/asset/css/transaksi.css">
<link rel="stylesheet" href="/static/asset/index.css">
<link rel="stylesheet" href="/static/asset/responsive.css" type="text/css">
{% endblock %} {% block content %}
{% load humanize %} 
<div style="background: #f4f4f4; padding-top:10px; padding-bottom: 80px;">
   <div>
      <div>
         <center>
            <div class="container countine_space">
               <div class="card" style="margin-top: 100px; border: 0px;">
                  {% if request.user_agent.is_mobile %}
                  <div class="card-body">
                     {% else %}
                     {% endif %}
                     <div class="row">
                        <div class="col-sm-4" style="padding-top: 20px; padding-left: 20px;">
                           <div class="demo">
                              <div class="item">
                                 <center>
                                    <div class="clearfix" style="max-width:400px;">
                                       <ul id="image-gallery" class="gallery list-unstyled cS-hidden" style="height: 200px;">
                                          {% if request.user_agent.is_mobile %}
                                          <li data-thumb="{{objects.photo.url}}" style="width: 1600px;">
                                             <img src="{{objects.photo.url}}" style="width: 100%;" />
                                          </li>
                                          <li data-thumb="{{objects.photo.url}}" style="width: 600px;">
                                             <img src="{{objects.photo.url}}" style="width: 100%;" />
                                          </li>
                                          {% else %}
                                          <li data-thumb="{{objects.photo.url}}" style="width: 1600px;">
                                             <img src="{{objects.photo.url}}" style="width: 100%;" />
                                          </li>
                                          <li data-thumb="{{objects.photo.url}}" style="width: 600px;">
                                             <img src="{{objects.photo.url}}" style="width: 100%;" />
                                          </li>
                                          <li data-thumb="{{objects.photo.url}}" style="width: 600px;">
                                             <img src="{{objects.photo.url}}" style="width: 100%;" />
                                          </li>
                                          {% endif %}
                                       </ul>
                                    </div>
                                 </center>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4" style="padding-top: 10px;">
                           <div class="card-body">
                              <center>
                                 <div class="row">
                                    <div class="badge_custom_lama">
                                       <div class="badge_p">{{objects.lama_investasi}}</div>
                                       <div class="badge_p2">Hari</div>
                                    </div>
                                    <div class="badge_custom_eks">
                                       <div class="badge_p">10%</div>
                                       <div class="badge_p2">Eks Profit</div>
                                    </div>
                                    <div class="badge_custom">
                                       <div class="badge_p">{{objects.get_risk_status_display}}</div>
                                       <div class="badge_p2">Resiko</div>
                                    </div>
                                 </div>
                              </center>
                              <div class="row">
                                 <h3 class="text-left title-card card-title "><strong>{{objects.name}}</strong></h3>
                                 <table class="table-md txt_tbl" border="0" >
                                    <tr>
                                       <td>Mulai Dari</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td>Rp. {{objects.price|intcomma}}</td>
                                    </tr>
                                    <tr>
                                       <td>Lokasi</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td>{{objects.lokasi}}</td>
                                    </tr>
                                    <tr>
                                       <td>Lama Investasi</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td>{{objects.lama_investasi}}</td>
                                    </tr>
                                    <tr>
                                       <td>Resiko</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td><span class="badge badge-success" style="font-size: 80%; font-weight: normal">{{objects.get_risk_status_display}}</span></td>
                                    </tr>
                                    <tr>
                                       <td>Kebutuhan Dana</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td>Rp. {{objects.finding_needs|intcomma}}</td>
                                    </tr>
                                    <tr>
                                       <td>Pendanaan Saat Ini</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td>Rp. {{ objects.get_pendanaan|intcomma }}</td>
                                    </tr>
                                    <tr>
                                       <td>Investor Saat ini</td>
                                       <td width="20px;">&nbsp&nbsp :</td>
                                       <td>{{ objects.totalmember }} Investor</td>
                                    </tr>
                                 </table>
                                 {% if objects.totalmember <= 1 %}
                                 {% else %}
                                 <div class="progress" style="float: left; width: 100%;">
                                    <div class="progress-bar-animated progress-bar-striped progress-bar bg-success" role="progressbar" aria-valuenow="{{objects.get_persen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{objects.get_persen}}%">{{objects.get_persen}}%</div>
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                        {% if request.user_agent.is_mobile %}
                     </div>
                  </div>
                  {% else %}
                  {% endif %}
                  <div class="col-lg-4" id="inves_artikel">
                     <div class="card card_custom">
                        <div class="card-body card_body_custom">
                           <div class="" style="float: none;">
                              <h3 class="h2_title">Ayo Investasi Di Proyek ini </h3>
                              <div class="row">
                                 <div class="col-sm-12" id="order1_inves">
                                    <div class="h6" style="width: 80%">Ekspektasi Pengembalian modal + keuntungan setelah proyek selesai</div>
                                    <center>
                                       <div class="input-group mb-3">
                                          <input type="text" class="inpt_ex" placeholder="Controh: 2.000.000" aria-label="Contoh: 2.000.000" aria-describedby="basic-addon1" id="output_ex" name="output_ex" value="0" readonly>
                                          <input type="hidden" class="inpt_ex" placeholder="Controh: 2.000.000" aria-label="Contoh: 2.000.000" aria-describedby="basic-addon1" id="output_ex_hidden" name="output_ex_hidden" value="0" readonly>
                                       </div>
                                    </center>
                                 </div>
                                 <div class="col-sm-12" id="order2_inves">
                                    <div class="h5">Masukan Investasimu Disini</div>
                                    <div class="input-group mb-3"  style="width: 240px;">
                                       <input type="number" class="form-control inputan_inves" placeholder="0" aria-aria-describedby="basic-addon1" oninput="HitExpetasi()" style="text-align: center;font-weight: bold;" id="inputan_inves" name="inputan_investasi">
                                    </div>
                                 </div>
                              </div>
                              <button type="button" class="btn btn-warning btn-lg btn-inves" id="btn_inves"><strong>Investasi Sekarang</strong></button>
                              <div id="loading"></div>
                              {% if data_inves.status == False %}
                              <div class="alert alert-success alert_width" role="alert" >Investasi Anda Berhasil, DItambahkan <a href="/transaksi/{{data_inves.uniquecode}}" class="alert-link"><button type="button" class="btn btn-success">Lanjut Ke Pembayaran</button></a></div>
                              {%else%}
                              {%endif%}
                              <input type="hidden" value="{{objects.finding_needs}}" id="dana">
                              <input type="hidden" value="{{objects.id}}" id="daidna" name="id">
                              <input type="hidden" value="{{objects.profit_prediction}}" id="bagi_hasil">
                              {% csrf_token %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% if request.user_agent.is_mobile %}
               {% else %}
            </div>
            {% endif %}
            <div class="row">
               <div class="col-lg-12" id="artikel_single">
                  <div class="card" style="margin-top: 20px; border: 0px;">
                     <div class="card-body">
                        <div id="accordion">
                           <div class="card">
                              <div class="card-header" id="headingOne" style="float: left; background: #fff;">
                                 <button class="btn btn-success btn_over" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="float: left">
                                 Deskripsi
                                 </button>
                                 <button class="btn btn-success collapsed btn_over btn_over_left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 Simulasi Bagi Hasil
                                 </button>
                                 <button class="btn btn-success collapsed btn_over btn_over_left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 Syarat & Ketentuan
                                 </button>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                 <div class="card-body" style="text-align: left;">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                 <div class="card-body" style="text-align: left;">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                 <div class="card-body" style="text-align: left;">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      </div>
      </center>
   </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999999999999999">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Investasi Sudah Anda</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            Anda sudah memiliki investasi di Proyek ini, silahkan lihat profile anda untuk melihat Investasi Anda 
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/transaksi/{{data_inves.uniquecode}}">
            <button type="button" class="btn btn-success">Lihat Profile Saya </button>
            </a>
         </div>
      </div>
   </div>
</div>
<input type="hidden" name="param" id="param" value="{{ check.user }}">
{% endblock %} {% block js %}
<script>
   $("#btn_inves").on("click", (e, data) => {
       let jmlh_inves = $("input[name=inputan_investasi]").val();
       let jmlh_inves_out = $("input[name=output_ex_hidden]").val();
       let param = $("input[name=param]").val();
       //menghilangan sparator ribuan (.)
       var jmlh = jmlh_inves.split('.').join('');
       var jmlh_out = jmlh_inves_out.split('.').join('');
       var profit = parseFloat(jmlh_out) - parseFloat(jmlh);
       
       var id = $("input[name=id]").val();
       let csrf = $("input[name=csrfmiddlewaretoken]").val();
       $.ajax({
               method: 'POST',
               url: "{% url 'detailproject' objects.slug %}",
               data: {
                   "profit": profit,
                   "jmlh": jmlh,
                   "id": id,
                   "param"  : param,
                   "csrfmiddlewaretoken": csrf
               },
               beforeSend: function() {
                   $("#loading").html("loading please wait..");
                   $("#addCart").prop('disabled', true);
               }
           })
           .done(function(data) {
               if (data == "success") {
                   window.location.reload();
                   
               } else if(data == "Already"){
                       $('#myModal').modal('show'); 
                       $("#loading").html('');
                   
               }else{
                   $("#loading").html('<div class="alert alert-warning alert_width" role="alert">Silahkan Login Untuk Melakukan Investasi <a href="/login" class="alert-link"><button type="button" class="btn btn-warning">Login</button></a></div>');
               }
           })
           .fail(() => console.log('coba cek koneksi anda.'));
   
   });
   
       
   $(document).ready(function() {
       $("#content-slider").lightSlider({
           loop: true,
           keyPress: true
       });
       $('#image-gallery').lightSlider({
           gallery: true,
           item: 1,
           thumbItem: 5,
           slideMargin: 0,
           speed: 500,
           auto: false,
           loop: true,
           onSliderLoad: function() {
               $('#image-gallery').removeClass('cS-hidden');
           }
       });
   });
   //function for just number inputan 
   
   
   
   
   //sparator ribuan
   //(function($, undefined) {
   
       "use strict";
   
       // When ready.
       $(function() {
   
           var $form = $("#form");
           var $input = $form.find("input");
   
           $input.on("keyup", function(event) {
   
   
               // When user select text in the document, also abort.
               var selection = window.getSelection().toString();
               if (selection !== '') {
                   return;
               }
   
               // When the arrow keys are pressed, abort.
               if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                   return;
               }
   
   
               var $this = $(this);
   
               // Get the value.
               var input = $this.val();
   
               var input = input.replace(/[\D\s\._\-]+/g, "");
               input = input ? parseInt(input, 10) : 0;
   
               $this.val(function() {
                   return (input === 0) ? "" : input.toLocaleString("id-ID");
               });
           });
   
           /**
            * ==================================
            * When Form Submitted
            * ==================================
            */
           $form.on("submit", function(event) {
   
               var $this = $(this);
               var arr = $this.serializeArray();
   
               for (var i = 0; i < arr.length; i++) {
                   arr[i].value = arr[i].value.replace(/[($)\s\._\-]+/g, ''); // Sanitize the values.
               };
   
               console.log(arr);
   
               event.preventDefault();
           });
   
       });
   //})(jQuery);
   
   
   //auto give expetasi value
   function HitExpetasi() {
       let a, b, c, d, e;
       a = document.getElementById("inputan_inves").value;
       c = document.getElementById("dana").value;
       d = document.getElementById("bagi_hasil").value;
       a = a.replace(/\./g, ''); // convert to number from aung format 
       a = parseInt(a, 10) || 0; //supaya tidak nan menjadi defauld  0 diberi || 0
       b = parseInt(a, 10) || 0; //supaya tidak nan menjadi defauld  0 diberi || 0 
   
       e = a / c * 100;
       b = d * e / 100;
       b = b + a;
       b = Math.floor(b);
       //mengembalikan ke format uang lagi 
       b = addCommas(b);
   
       function addCommas(nStr) {
           nStr += '';
           x = nStr.split('.');
           x1 = x[0];
           x2 = x.length > 1 ? '.' + x[1] : '';
           var rgx = /(\d+)(\d{3})/;
           while (rgx.test(x1)) {
               x1 = x1.replace(rgx, '$1' + '.' + '$2');
           }
           return x1 + x2;
       }
       document.getElementById("output_ex").value ="Rp." + b;
       document.getElementById("output_ex_hidden").value = b;
   }
</script>
{% endblock %}