{% load main_tags %}
{% if request.user.is_authenticated %}
{% with getuser=request.user.id|getname %}
<div class="custom_nav_logo_atas">
   {% if request.user_agent.is_mobile %}
   {% if not profile %}
   <a href="/">
   <img src="/static/asset/icon/logo_circle.png"alt="" class="logo_custom1">
   </a> 
   {% endif %}
   {% else %}
   <nav class="nav_custom_top navbar navbar-expand-lg navbar-light fixed-top ">
      <a class="navbar-brand" href="/">
      <img src="/static/asset/icon/logo.png"alt="" class="logo_custom">
      </a> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto"></ul>
         <div class="nav-item" style="margin-right: 100px;">
            <a href="/profile">
               <div class="btn-group">
                  <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="pp_t_header">
            {{getuser|first|upper}}
            </div>
            <span class="name_circle">
            {{getuser}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
            </li>
            </div>
            </a>
         </div>
      </div>
   </nav>
   {% endif %}
</div>

<nav class="no-labels-nav">
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/">
            <i class="bottom-nav__icon fa fa-home fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Beranda</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/#inves">
            <i class="bottom-nav__icon fa fa-leaf fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Investasi</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/profile">
            <span class="no-labels-nav__label">
                <div class="pp_t_header">
                     {{getuser|first|upper}}
                </div>
            </span>
        </a>
        
</nav>
{% endwith %}
{% else %}     
<div class="custom_nav_logo_atas">
   {% if request.user_agent.is_mobile %}
   {% if not profile %}
   <a href="/">
   <img src="/static/asset/icon/logo_circle.png"alt="" class="logo_custom1">
   </a> 
   {% endif %}
   {% else %}
   <nav class="nav_custom_top navbar navbar-expand-lg navbar-light fixed-top ">
      <a class="navbar-brand" href="/">
      <img src="/static/asset/icon/logo.png"alt="" class="logo_custom">
      </a> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto"></ul>
         <div class="nav-item" style="margin-right: 20px;">
            <a href="/daftar">
            <button type="button" class="btn btn-light" style="padding: 5px 20px 5px 20px" ><i class="fa fa-user-o"> </i> Daftar</button>
            </a>
         </div>
         <br>
         <div class="nav-item" style="margin-right: 100px;">
            <a href="/login">
            <button type="button" class="btn btn-success" style="padding: 5px 20px 5px 20px">Masuk</button>
            </a>
         </div>
      </div>
   </nav>
   {% endif %}
</div>

<nav class="no-labels-nav">
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/">
            <i class="bottom-nav__icon fa fa-home fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Beranda</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/#inves">
            <i class="bottom-nav__icon fa fa-leaf fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Investasi</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/login">
            <i class="bottom-nav__icon fa fa-sign-in fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Login</span>
        </a>
        
    </nav>

{% endif %}