
{% if request.user.is_authenticated %}
   {% load main_tags %}
 <nav class="no-labels-nav">
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/">
            <i class="bottom-nav__icon fa fa-home fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Beranda</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/#inves">
            <i class="bottom-nav__icon fa fa-leaf fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Investasi</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/profile">
            <span class="no-labels-nav__label">
                <div class="pp_t_header">
                    {{ request.user.id|getname|make_list|first|upper }}
                </div>
            </span>
        </a>
        
    </nav>

{% else %}

 <nav class="no-labels-nav">
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/">
            <i class="bottom-nav__icon fa fa-home fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Beranda</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/#inves">
            <i class="bottom-nav__icon fa fa-leaf fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Investasi</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/login">
            <i class="bottom-nav__icon fa fa-sign-in fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Login</span>
        </a>
        
    </nav>
{% endif %}