body{
    overflow-x: hidden;
    font-family: nunito;
}
.color-red{
    color: #ef3e3e;
}
.color-grenn{
    color: #38a338;
}
.bg_menu {
    background-size: 100%;
}    

.iki {
    width: 250px;
    height: 250px;
}
.filter_img{
    width:100%; height:100%;
    top:0; left:0;
    background:rgb(0, 0, 0);
    opacity:1;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.alert_width{
    width: 330px;
    margin-top: 20px;
}
.btn-custom-slide1{
    border-radius: 20px;
    background: #ffaa23;
    padding: 10px;
    cursor: pointer;
    border: 0px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    float: left;
    color: #000;
}
.title-card{
    height: 40px;
}
.float_left{
    float: left;
}
.dash_box{
    height: 110px;
    color: #fff;
    background: #333;
    cursor: pointer;
}

.dash_box1{
    padding-top: 4px;
    cursor: pointer;
    padding-bottom: 4px;
    color: #fff;
    margin-bottom: 20px;
}
a:hover{
    text-decoration: none;
    color: #333;
}
.logo_custom{
    width: 80px;
    height: 40px;
    margin-left: 120px;
}
.pdg10px{
    padding: 5px;
}
.fixed-bottom{
    display: none;
}
.card-title{
    font-weight: bold;
    color: #f39c12;
}
.card-title2{
    font-weight: bold;
    color: #313131;
}
.badge_custom_lama{
    height: 80px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding:  0px 5px;
    width: 60px;
    background: #3db559;
    margin-right: 10px;
    margin-left: 0px;
    display: inline-block;
    border-radius: 5px;
}
.card_body_custom{
    background: #f0f0f0;
    padding: 5px;
}

.card_custom{
    margin-top: 20px; 
    border: 0px;
}
#inves_artikel{
    background: #f0f0f0;
    padding-top: 45px;
   
}
.disini{
    border: 0px;
}
.countine_space{
    margin-top: 50px;
}
#order1_inves{
    order: 2;
}
#order2_inves{
    order: 1;
}
.h2_title{
    font-weight: bold;
    text-align: center;
}
.btn-inves{
    width: 330px;
}
.badge_custom_eks{
    height: 80px;
    padding:  0px 20px;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    background: #3db559;
    display: inline-block;
    border-radius: 5px;
}
.badge_custom{
    height: 80px;
    padding:  0px 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    display: inline-block;
    background: #3db559;
    border-radius: 5px;
}
.badge_p{
    padding-top: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}
.badge_p2{
    font-size: 15px;
    color: #fff;
    font-weight: lighter;
}
.txt_tbl{
    font-size: 15px; 
    float: left; 
    margin-bottom: 20px; 
    margin-top: 20px;
    font-family: 'nunito Condensed', sans-serif;
}
.blue{
    background: #00c0ef;
}
.blue1{
    background: #019fc6;
}
.orange{
    background: #f39c12;
}
.clrorange{
    color : #f39c12;
}
.orange1{
    background: #c17c0e;
}
.green{
    background: #00a65a;
}
.green1{
    background: #03713f;
}
.red{
    background: #dd4b39;
}

.red1{
    background: #962e21;
}

.ico_box_trans{
    width: 100%;
    padding-right: 30px;
    padding-top: 20px;
}
.bg-sil1{
    background: #fff;
    width: 100%;
    margin-top: 1.25rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem ;
    height: auto;
    border-radius: 0px 0px 0.25rem 0.25rem;
}
.btn-custom-slide1:hover{
    background: #ffb745;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
 ;  color: #fff;
}
.carousel-size{
    height: 100vh;
    overflow: hidden;
}
.position-text-slide{
    margin-bottom: 20%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.nav-cutom {
    color: #fff;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    height: 90px;
}

.bg_top1 {
    background: url(img_asset/jason-cooper-482298.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}








.footer_countainer{
    background: rgb(255, 255, 255);
    width: 100vw;
}

.title_single{
    padding-top: 30vh; 
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}
.title_pertaninan{
    padding-top: 35vh; 
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}
.chat_btm{
    display: inline-block;
    vertical-align:middle; 
    margin-top: -10px; 
    padding: 10px 30px 10px 30px
}

.header_single{
    min-height: 70vh;
}
.btn-custom{
    background: #f7f7f7;
    
}
.btn_over{
    
}
.btn_over_left{
    float: left;
    margin-left: 10px;
}
.btn_over_left1{
    margin-left: 10px;
}
.mengapa{
     padding-top: 30vh; 
    padding-bottom: 20px;
    background: #f4f4f4;
}
.poster{
    background: url(icon/footer1.png)no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250px;
}
.top_poster{
    height: 50px;
    
}
.perlu{
    color: #fff;
    font-size: 30px;
    display: inline-block;
    letter-spacing: 5px;
    margin-top: 100px;
    width: 75%;
    text-align: left;
    
    
}
.btn-warning2{
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    transition: 0.2s;
}
.btn-warning2:hover{
    color: #fff;
    background-color: #e0a800;
    border-color: #e0a800;
}
.pilih_p{
    border-radius: 10px;
}
.pilih_p1{
    border-radius: 10px;
}


.munggah{
    display: inline-block;
    padding: 13px 18px 15px 18px;
    border: 0 solid #c3c3c3;
    position: fixed;
    right: 10px;
    background-color: rgba(255, 170, 35, 0.85);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    bottom: 10px;
    font-weight: bold;
}

.wu:hover{
    width: 500%;
}
.txt_lbl{
    color:#868686;
    font-size: 13px;
}
.txt_lbl_a{
    color:#ff8d07;
    font-size: 13px;
}
.pp_t{
    width: 120px;
    font-weight: bold;
    height: 120px;
    background: rgba(255, 170, 35, 0.85);
    color: #fff;
    line-height: 127px;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 50px;
}
a .pp_t_header{
    width: 50px;
    font-weight: bold;
    height: 50px;
    background: rgba(255, 170, 35, 0.85);
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    border: 0px;
    cursor: pointer;
}
.name_circle{
    color: #676767;
    font-weight: bold;
    font-size: 18px;
}
a{
    color: #333;
}

.alert_profile{
    margin-top: -70px;
}
.bg_profile{
    background: #f4f4f4; 
    padding-top:120px; 
    padding-bottom: 80px;
}
.lihat_btn{
    color: rgba(255, 170, 35, 0.85);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.inpt_ex{
    text-align: center; 
    font-weight: bold; 
    color: #28a745; 
    font-size: 20px; 
    background: #f0f0f0; 
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

.img_bank{
    width: 60px;
}