@media(max-width:1024px){
    .position-text-slide{
    margin-bottom:15%;
}
    .carousel-size{
    height: auto;
    overflow: hidden;
}
    .dash_box{
}
@media(max-width:991px){
    #artikel_single{
        order: 2;
        margin-top: 20px;
    }
    #inves_artikel{
        order: 1;
    }
    
}
@media(max-width:768px){
    .position-text-slide{
    margin-bottom:6%;
    
}
    .dash_box{
        padding-top: 20px;
        height: 200px;
}
    .tot_box{
        font-size: 50px;
        font-weight: bold;
}
    .tot_box_bottom{
        font-size: 30px;
}
    .ico_box_trans{
        width: 80%;
}
    .poster{
    background: url(icon/footer1.png)no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250px;
}
    .perlu{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    display: block;
    letter-spacing: 5px;
    padding-top: 50px;
    width: 75%;
    text-align: center;
    font-family: calibri;
    
}
    .header_home{
        height: 30vh;
    }
    .h22{
        font-size: 25px;
        margin-bottom: -20px;
    }
    .carousel-size{
    height: auto;
    overflow: hidden;
}
    .title_home{
        margin-left: 20px;
        margin-right: 20px;
    }
    .title2{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media(max-width:414px){
 #inves_artikel{
    background: #f0f0f1;
    border-radius: 5px;
    margin-top: 20px;
     
}
    
.countine_space{
    margin-top: -40px;
}
.footer_desk{
    margin-top: 50px;
}
    .order2{
        order: 2;
    }
    .order1{
        order: 1;
    }
    .order3{
        order: 3;
    }
    .order4{
        order: 4;
    }
    
.card-title{
    color: #f39c12;
    font-weight: bold;
    font-size: 30px;
}

.memilih-ico{
    max-width: 1000px; 
    margin-bottom: -50px;
    margin-top: 50px;
    background: url("/static/asset/icon/memilih_res.png")no-repeat;
    background-size: 90%;
    margin-left: 10%;
    height: 250px;
}
#order1_inves{
    order: 1;
}
#order2_inves{
    order: 2;
}
    .h4{
        font-size: 18px;
    }
    .tb_res{
        font-size: 12px;
    }
    th{
        font-size: 12px;
    }
    a .pp_t_header{
    width: 40px;
    font-weight: bold;
    height: 40px;
    background: #d3870d;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    border: 0px;
    cursor: pointer;
}
    .scrool_beh_btm{
        order :2;
    }
    .c-proyek{
        order :1;
    }
    .btn-lg{
        padding : 0.5rem 1rem;
        font-size: 15px;
    }
    .dash_box{
        padding-top: 20px;
        height: 120px;
}
    
    .tot_box{
        font-size: 22px;
        font-weight: bold;
}
    .tot_box_bottom{
        font-size: 17px;
}
    .ico_box_trans{
        width: 80%;
}
    .btn_over_left{
    float: left;
        margin-top: 10px;
    margin-left: 0px;
}
    .btn_over_left1{
    float: left;
        margin-top: 10px;
    margin-left: 0px;
}
    .poster{
    background: url(icon/footer1.png)no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250px;
        margin-bottom: 50px;
}.btn_over{
     width: 100%;   
}
    p{
        margin-bottom: 0px;
    }
    .txt_menu_btm{
        color:#333;
        display: block;
        text-decoration: none;
    }
    .btm_menu{
        color: #333;
    }
    .logo_custom1{
        width: 40px;
    display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #inves_artikel{
    background: #f0f0f1;
    border-radius: 0px;
        padding-bottom: 20px;
   
}.btn-inves{
    width: 240px;
}
    .lSGallery{
        display: none;
    }
.card-title{
    color: #f39c12;
    font-weight: bold;
    margin-bottom: 30px;
}
    .custom_nav_logo_atas{
        background: #fff;
        position: fixed;
        display: block;
        width: 100%;
        padding: 10px;
        z-index: 99999999999;
    }
    .nav_custom_top {
    display: none;
}.footer_countainer{
    background: rgb(255, 255, 255);
    width: 100vw;
    position: static;
    margin-top: -0px;
}
.txt_tbl{
    font-size: 16px; 
    float: left; 
    margin-bottom: 20px; 
    margin-top: 20px;
    font-family: 'nunito Condensed', sans-serif;
}
.c-inves{
    padding-top:0px; 
    padding-bottom: 20px;
}
    .munggah{
    display: inline-block;
    padding: 13px 18px 15px 18px;
    border: 0 solid #c3c3c3;
    position: fixed;
    right: 10px;
        margin-bottom: 50px;
    background-color: rgba(255, 170, 35, 0.85);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    bottom: 10px;
    font-weight: bold;
}
    .fixed-bottom{
        display: block;
    }
    .img_why{
        width: 70%;
    }
    .img_plane{
    width: 100%;
}
    .carousel{
    margin-top: 80px;
    }
    .perlu{
    color: #fff;
    margin-left: 10px;
    font-size: 17px;
    display: block;
    margin-bottom: 20px;
    letter-spacing:2px;
    padding-top: 50px;
    width: 75%;
    text-align: center;
    
}
    .title_home{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }
    .title2{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 17px;
    }
    .header_home{
        height: 40vh;
    }
}
@media(max-width:316px){
    .perlu{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    display: block;
    letter-spacing: 5px;
    padding-top: 50px;
    width: 75%;
    text-align: center;
    font-family: calibri;
    
}
}